body {
	background-color: #383838;
}

.head {
	font-size: 60px;
	color: white;
}

.head1 {
	font-size: 35px;
	color: white;
}

.p {

	color: white;
	font-size: 25px;
}

.e {

	color: white;
	font-size: 25px;

}



